
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bloglitte</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome {{ name }}</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/dashboard/{{user_id}}/blog_page">Home</a></li>
      <li><a href="/myprofile/{{user_id}}">My Profile</a></li>
      <li class="active"><a href="/your_blogs/{{user_id}}">My Blogs</a></li>
      <li><a href="/my_feed/{{user_id}}">My Feed</a></li>
      <li><a href="/search/{{user_id}}?q=9999">Search</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!--<form class="navbar-form navbar-left" action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search">-->
    
    <a href="/logout/{{user_id}}" class="btn btn-danger" role="button">Logout</a>
    </ul>
  </div>
  
</nav>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Blogs Posted By {{name}}</h1>
    </div>
    <div class="row">
      {% for i in blogs %}
      <div class="col-lg-4">
        <div class="card" style="width: 360;">
          <img class="card-img-top" src="\static\{{i.image_path}}" width="360" height="320">
          <div class="card-body">
            <h3 class="card-title">{{i.blog_name}}</h3>
            <h6 class="card-text">{{ i.description }}</h6>
            <h6 style="font-weight:bold">Blog Posted on {{i.timestamp}}</h6>
            <a href="/edit_blog/{{i.user_id}}/{{i.blog_id}}" class="btn btn-success" role="button">Update</a>
            <a href="/delete_blog/{{i.user_id}}/{{i.blog_id}}" onclick="return confirm('Are you sure you want to delete this item?');"class="btn btn-danger" role="button">Delete</a>
          <br>
          <br>
          <br>
          </div>
        </div>
        
      </div>
      {% endfor %}
    </div>
    <!-- <div class="row">
        <div class="col-md-8">
                  
                {% for i in blogs %}
                     <h2>{{i.blog_name}}</h2>
                        
                     <img src="\static\{{i.image_path}}" width="460" height="345">

                    <div>{{ i.description }}</div>
                    <a href="/edit_blog/{{i.user_id}}/{{i.blog_id}}" class="btn btn-success" role="button">Update</a>
                    <a href="/delete_blog/{{i.user_id}}/{{i.blog_id}}" onclick="return confirm('Are you sure you want to delete this item?');"class="btn btn-danger" role="button">Delete</a>

                {% endfor %}

        <div class ="col-md-4">
            Side bar.
        </div>
    </div>
</div> -->
</div>
</body>
</html>
